@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 1000px;
}

body::-webkit-scrollbar{
    width: 0.5rem;
    /* display: none; */
}

body::-webkit-scrollbar-track {
    background: #fff;
}

body::-webkit-scrollbar-thumb {
    background: #4978ff;
}

/* ============== Navbar Start ============== */
header{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
    transition: 0.6s;
}

header.sticky
{
    padding: 5px 100px;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 300;
    transition: 0.6s;
}

.num
{
    color: #fff;
}

header.sticky .logo,
header.sticky ul li a, 
header.sticky .num
{
    color: #000;
}

header.sticky .caret
{
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-top: 6px solid black;
}

.lang
.dropdown{
    margin-left: 10px;
    width: 70px;
    position: relative;
}

.lang
.dropdown * {
    box-sizing: border-box;
}

.lang
.selected{
    background: none;
    border: none;
    font-weight: 600;
    font-size: medium;
    width: 80%;
}

.lang
.select {
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 2px #2a2f3b solid;
    padding: 0.5em;
    cursor: pointer;
    transition: background 0.3s;
}

.lang a{
    margin: 0 !important;
    color: black;
} 

/* .select:hover {
    background: #323741;
} */

.lang
.caret {
    width: 0;
    height: 0;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-top: 6px solid white;
    background: #fff;
    transition: 0.3s;
}

.lang
.caret-rotate {
    transform: rotate(180deg);
}

.lang .menu {
    list-style: none;
    background: #fff;
    border: 1px #363a43 solid;
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
    overflow: hidden;
}

.lang .menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
    color: black;
}

.lang .menu li a {
    font-size: 15px;
}

.lang
.menu-open {
    display: block;
    opacity: 1;
}

/* ============== Navbar End ============== */


/* ============== Banner Start ============== */
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(images/bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2{
    color: #fff;
    width: 80%;
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
}
.banner h2 span{
    color: #4978ff;
}
span{
    color: #4978ff;
}

/* ============== Banner End ============== */

/* ============== About Start ============== */

.sec{
    background: #fff;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec .content{
    position: relative;
    text-align: center;
    width: 100%;
}

.mxw800p{
    max-width: 1200px;
    margin: 0 auto;
}

h3{
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
}

p{
    position: relative;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.btn{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background: #000;
    text-decoration: none;
    color: #fff;
}

.sec span{
    color: #000;
}


/* POPUP */
.request .popup-outer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}
.request.show .popup-outer{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
.request .popup-box{
    position: relative;
    padding: 30px;
    width: 80%;
    /* width: 760px; */
    height: 760px;
    background: #fff;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} 


.request .popup-box .close{
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 24px;
    color: #b4b4b4;
    cursor: pointer;
    transition: all 0.2s ease;
}
.request .popup-box .close:hover{
    color: #333;
}

/* .request .popup-box p::-webkit-scrollbar{
    width: 0.4rem;
}

.request .popup-box p::-webkit-scrollbar-track {
    background: #1e1e24;
}

.request .popup-box p::-webkit-scrollbar-thumb {
    background: #1e1e24
} */

.request .popup-box .button{
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    margin-left: auto;
}
.request .popup-box .button button{
    outline: none;
    border: none;
    padding: 6px 12px;
    background: #6f93f6;
    margin-left: 8px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.request .popup-box .button input{
    outline: none;
    border: none;
    padding: 6px 12px;
    background: #6f93f6;
    margin-right: 30px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.request .button button.cancel{
    background: #1e1e24;
}
.request .button button.cancel:hover{
    background: #1e1e24;
}
.request .button button.send:hover{
    background: #1e1e24;
}



/* Dropdowns */

.sec
.dropdowns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80%;
}

.sec
.dropdown{
    min-width: 15em;
    position: relative;
    margin: 2em;
}

.sec
.dropdown * {
    box-sizing: border-box;
}

.sec
.selected{
    background: none;
    border: none;
    font-weight: 600;
    font-size: medium;
    width: 80%;
}

.sec
.select {
    background: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.sec
.select-clicked{
    border: 2px #26489a;
    box-shadow: 0 0 0.8em #26489a;
}

/* .select:hover {
    background: #323741;
} */

.sec
.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #2a2f3b;
    background: #fff;
    transition: 0.3s;
}

.sec
.caret-rotate {
    transform: rotate(180deg);
}

.sec
.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #fff;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.sec
.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
    color: black;
}

/* .menu li:hover {
    background: #2a2d35;
} */

.sec
.dropdown .active {
    background: #6360603b;
    border: 1px solid #2a2d35;
}

.sec
.menu-open {
    display: block;
    opacity: 1;
}
/* Dropdowns end */


.request .row100{
    margin-bottom: 100px;
}
.request .row100 input,
.request .row100 textarea
{
    position: relative;
    border: none;
    border-bottom: 1px solid #000;
    color: #000;
    width: 100%;
}
.request .row100 input[type="submit"]
{
    background: #000;
    color: #fff;
}
.request .row100 input::placeholder,
.request .row100 textarea::placeholder{
    color: #000;
}


/* POPUP END */



/* ============== About End ============== */


/* ============== Services Start ============== */

.services{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px; */
    margin-top: 40px;
}
.services .box{
    min-width: 300px;
    max-width: 300px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0, 0.05);
}

.services .box .iconBx{
    margin-top: 25px;
}

.services .box .iconBx img{
    max-width: 70px;
    margin-bottom: 15px;
}

.services .box h2{
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
}


.services p{
    margin: 0;
}

/* ============== Services End ============== */


/* ============== Stats Start ============== */

.stats{
    background: #000;
    padding-top: 250px;
    margin-top: -250px;
}

.stats h3, 
.stats p{
    color: #fff;
}

.statsBox{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 40px;
}

.statsBox h2{
    color: #fff;
    font-size: 36px;
}

.statsBox h4{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* ============== Stats End ============== */


/* ============== pricing Start ============== */

.workBx{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}

.workBx .brand{
    position: relative;
    background: #4978ff;
    min-height: 300px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workBx .brand:hover{
    background: #000;
}

.workBx .brand a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

.workBx .brand a:hover{
    color: rgba(255, 255, 255, 1);
}

/* ============== pricing End ============== */

/* ============== request Start ============== */

.requestBx{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}

.requestBx .member{
    position: relative;
    background: #000;
    min-height: 300px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.requestBx .member .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.requestBx .member .imgBx img{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
}

.requestBx .member .details{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: 0.2s;
    opacity: 0;
}

.requestBx .member:hover .details{
    opacity: 1;
}

.requestBx .member .details h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}

.requestBx .member .details h2 span{
    display: block;
    font-size: 12px;
    font-weight: 300;
}

/* ============== request End ============== */

/* ============== Contact Start ============== */

.contact{
    background: #000;
}

.contact h3,
.contact p{
    color: #fff;
}

.contactForm{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}

.contactForm form{
    width: 100%;
}

.row100{
    display: flex;
    width: 100%;
}

.info{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row100 .inputBx50{
    margin: 0 20px;
}

.row100 .inputBx100{
    margin: 0 20px;
    width: 100%;
}

.row100 input,
.row100 textarea
{
    position: relative;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    background: transparent;
    width: 100%;
    padding: 10px 0;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0;
    resize: none;
}

.row100 textarea
{
    height: 100px;
}

.row100 input::placeholder,
.row100 textarea::placeholder{
    color: rgba(255, 255, 255, 0.5);
}

.row100 input[type="submit"]
{
    background: #fff;
    color: #000;
    max-width: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 500
}

.sci{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.sci ul{display: flex;}
.sci ul li{list-style: none;}
.sci ul li a{
    text-decoration: none;
    display: inline-block;
    margin: 0 30px;
}

.sci ul li a img{
    filter: invert(1);
    max-width: 40px;
}

.sci ul li a:hover img{
    opacity: 0.5;
}

.copyright a{color: #fff;}

/* ============== Contact End ============== */


/* ------------------- RESPONSIVE ------------------- */
.toggle{
    display: none;
}



@media (max-width: 1141px)
{
    .toggle{
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .toggle:before{
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s;
    }
    .toggle:after{
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        transition: 0.5s;
    }

    /* ---------------- NAVBAR ---------------- */

    header,
    header.sticky{
        padding: 5px 50px;
        background: #fff;
    }
    header ul{
        position: absolute;
        top: 59px;
        left: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: auto;
        background: #fff;
        visibility: hidden;
        opacity: 0;
    }
    header.active ul{
        visibility: visible;
        opacity: 1;
        display: block;
    }
    header.active ul li a,
    header.active .num{
        display: inline-block;
        margin: 10px 0;
        font-size: 20px;
        padding-top: 20px;
    }
    li.lang {
        display: flex;
        justify-content: center;
    }
    .lang .select{
        border-left: none;
    }
    .lang .menu-open {
        height: 7em;
        font-size: medium;
    }
    .lang
    .caret {
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 6px solid black;
    }

    .lang
    .menu li {
        border-radius: 0.5em;
        cursor: pointer;
        color: black;
    }
    .menu li a {
        padding-top: 0 !important;
        border-radius: 0.5em;
        cursor: pointer;
        color: black;
    }

    header .logo,
    header ul li a,
    header .num
    {
        color: #000;
    }

    .banner{ background-position: center; }
    .banner h2{ font-size: 30px; padding: 0 50px;}

    .sec{
        padding: 100px 50px 50px 50px;
    }

    .services .box{
        width: 100%;
    }

    .stats{
        padding-top: 250px;
    }
    .row100{
        flex-direction: column;
    }
    .contactForm .row100 .inputBx50,
    .contactForm .row100 .inputBx100{
        width: 100%;
        margin: 0;
    }

    .sci{
        margin: 20px;
    }

    .sci ul li a img{
        font-size: 24px;
    }
    
    h3{
        font-size: 26px;
    }

    .copyright{
        font-size: 15px;
    }
}

@media (max-height: 590px) 
{
    header.active ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
}